body { font-family: 'Open Sans', sans-serif; }


.main {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.onboarding-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

@media (min-width: 992px) {
  .onboarding-container {
    flex-direction: row;
    margin-top: 80px;
  }
}

.illustration,
.education {
  padding-left: 20px;
  padding-right: 20px;
}

.illustration {
  display: flex;
  flex-direction: column;
  width: 312px;
}

.education { width: 320px; }

.education-title,
.education-text {
  line-height: 1.5;
  color: #24272D;
}

.education-title { font-size: 24px; }

.education-text {
  font-size: 16px;
  font-weight: 400;
}

.authenticate {
  margin-top: 40px;
}

/* animation */
@keyframes slide-up {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.gh-logo {
  position: relative;
  margin-left: 22px;
  height: auto;
  opacity: 0;
  animation: .3s ease 1s forwards slide-up;
}

.tracker-logo {
  position: relative;
  margin-left: 55px;
  height: auto;
  opacity: 0;
  animation: .3s ease 2s forwards slide-up;
}

.code-block {
  position: relative;
  height: auto;
  margin-bottom: 8px;
  opacity: 0;
  animation: .3s ease 3s forwards slide-up;
}

.computer { align-self: flex-end; }
/* btn */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 11px;
  text-decoration: none;
  border-radius: 3px;
}

.btn-positive {
  color: #fff;
  background: #56AD56;
  transition: background-color 250ms;
}

.btn-positive:hover { background: #4B9964; }

.btn-link {
  color: #088BFF;
}


/* media queries */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
