body { font-family: 'Open Sans', sans-serif; }


.main {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  max-width: 720px;
  height: 1000px; /*hack*/
}

.onboarding-container {
  display: flex;
  align-items: center;
}

.onboarding-title,
.onboarding-education {
  line-height: 1.5;
  color: #24272D;
}

.onboarding-title { font-size: 24px; }

.onboarding-education {
  width: 320px;
  font-size: 16px;
  font-weight: 400;
}

.illustration {
  display: flex;
  flex-direction: column;
}

.authenticate {
  margin-top: 40px;
}

/* animation */
@keyframes slide-up {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.gh-logo {
  position: relative;
  margin-left: 102px;
  margin-bottom: 4px;
  height: auto;
  opacity: 0;
  animation: .3s ease 1s forwards slide-up;
}

.tracker-logo {
  position: relative;
  height: auto;
  opacity: 0;
  animation: .3s ease 2s forwards slide-up;
}

.code-block {
  position: relative;
  height: auto;
  margin-bottom: 8px;
  opacity: 0;
  animation: .3s ease 3s forwards slide-up;
}

/* btn */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 11px;
  text-decoration: none;
  border-radius: 3px;
}

.btn-positive {
  color: #fff;
  background: #56AD56;
}

.btn-link {
  color: #088BFF;
}
